body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2004px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5876_div {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5876 {
  position:absolute;
  left:8px;
  top:11px;
  width:46px;
  height:16px;
}
#u5877 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5878_div {
  position:absolute;
  left:0px;
  top:0px;
  width:2004px;
  height:54px;
  background:inherit;
  background-color:rgba(21, 21, 21, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(44, 44, 63, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5878 {
  position:absolute;
  left:0px;
  top:0px;
  width:2004px;
  height:54px;
}
#u5879 {
  position:absolute;
  left:2px;
  top:19px;
  width:2000px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5880_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:2892px;
}
#u5880 {
  position:absolute;
  left:160px;
  top:55px;
  width:1px;
  height:2891px;
}
#u5881 {
  position:absolute;
  left:2px;
  top:1438px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5882_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:2px;
}
#u5882 {
  position:absolute;
  left:0px;
  top:227px;
  width:161px;
  height:1px;
}
#u5883 {
  position:absolute;
  left:2px;
  top:-8px;
  width:157px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5884_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:92px;
}
#u5884 {
  position:absolute;
  left:22px;
  top:96px;
  width:100px;
  height:92px;
}
#u5885 {
  position:absolute;
  left:2px;
  top:38px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5886_div {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u5886 {
  position:absolute;
  left:18px;
  top:19px;
  width:229px;
  height:20px;
  color:#FFFFFF;
}
#u5887 {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  word-wrap:break-word;
}
#u5888_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5888 {
  position:absolute;
  left:46px;
  top:281px;
  width:57px;
  height:20px;
}
#u5889 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  word-wrap:break-word;
}
#u5890_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:7px;
}
#u5890 {
  position:absolute;
  left:22px;
  top:287px;
  width:14px;
  height:7px;
}
#u5891 {
  position:absolute;
  left:2px;
  top:-4px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5892_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:7px;
}
#u5892 {
  position:absolute;
  left:22px;
  top:383px;
  width:14px;
  height:7px;
}
#u5893 {
  position:absolute;
  left:2px;
  top:-4px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5894_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5894 {
  position:absolute;
  left:46px;
  top:377px;
  width:29px;
  height:20px;
}
#u5895 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u5896_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:7px;
}
#u5896 {
  position:absolute;
  left:22px;
  top:443px;
  width:14px;
  height:7px;
}
#u5897 {
  position:absolute;
  left:2px;
  top:-4px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5898_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5898 {
  position:absolute;
  left:46px;
  top:437px;
  width:29px;
  height:20px;
}
#u5899 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u5900_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u5900 {
  position:absolute;
  left:46px;
  top:307px;
  width:91px;
  height:20px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u5901 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  word-wrap:break-word;
}
#u5902_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5902 {
  position:absolute;
  left:46px;
  top:332px;
  width:91px;
  height:20px;
}
#u5903 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  word-wrap:break-word;
}
#u5904_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5904 {
  position:absolute;
  left:48px;
  top:398px;
  width:66px;
  height:20px;
}
#u5905 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  word-wrap:break-word;
}
#u5906_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5906 {
  position:absolute;
  left:48px;
  top:461px;
  width:74px;
  height:20px;
}
#u5907 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  word-wrap:break-word;
}
#u5908_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5908 {
  position:absolute;
  left:48px;
  top:479px;
  width:74px;
  height:20px;
}
#u5909 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  word-wrap:break-word;
}
#u5910_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:7px;
}
#u5910 {
  position:absolute;
  left:22px;
  top:522px;
  width:14px;
  height:7px;
}
#u5911 {
  position:absolute;
  left:2px;
  top:-4px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5912_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:7px;
}
#u5912 {
  position:absolute;
  left:22px;
  top:560px;
  width:14px;
  height:7px;
}
#u5913 {
  position:absolute;
  left:2px;
  top:-4px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5914_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5914 {
  position:absolute;
  left:46px;
  top:554px;
  width:29px;
  height:20px;
}
#u5915 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u5916_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5916 {
  position:absolute;
  left:48px;
  top:602px;
  width:74px;
  height:20px;
}
#u5917 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  word-wrap:break-word;
}
#u5918_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5918 {
  position:absolute;
  left:48px;
  top:620px;
  width:74px;
  height:20px;
}
#u5919 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  word-wrap:break-word;
}
#u5920_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5920 {
  position:absolute;
  left:46px;
  top:661px;
  width:74px;
  height:20px;
}
#u5921 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  word-wrap:break-word;
}
#u5922_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:7px;
}
#u5922 {
  position:absolute;
  left:22px;
  top:702px;
  width:14px;
  height:7px;
}
#u5923 {
  position:absolute;
  left:2px;
  top:-4px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5924_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:7px;
}
#u5924 {
  position:absolute;
  left:22px;
  top:739px;
  width:14px;
  height:7px;
}
#u5925 {
  position:absolute;
  left:2px;
  top:-4px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5926_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5926 {
  position:absolute;
  left:46px;
  top:733px;
  width:85px;
  height:20px;
}
#u5927 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u5928_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5928 {
  position:absolute;
  left:46px;
  top:518px;
  width:43px;
  height:20px;
}
#u5929 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  word-wrap:break-word;
}
#u5930_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:9px;
}
#u5930 {
  position:absolute;
  left:71px;
  top:517px;
  width:10px;
  height:9px;
}
#u5931 {
  position:absolute;
  left:2px;
  top:-4px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5932_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5932 {
  position:absolute;
  left:48px;
  top:581px;
  width:74px;
  height:20px;
}
#u5933 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  word-wrap:break-word;
}
#u5934_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5934 {
  position:absolute;
  left:47px;
  top:257px;
  width:57px;
  height:20px;
}
#u5935 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  word-wrap:break-word;
}
#u5936_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:7px;
}
#u5936 {
  position:absolute;
  left:22px;
  top:262px;
  width:14px;
  height:7px;
}
#u5937 {
  position:absolute;
  left:2px;
  top:-4px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5938_div {
  position:absolute;
  left:0px;
  top:0px;
  width:940px;
  height:39px;
  background:inherit;
  background-color:rgba(27, 139, 207, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5938 {
  position:absolute;
  left:183px;
  top:184px;
  width:940px;
  height:39px;
}
#u5939 {
  position:absolute;
  left:2px;
  top:12px;
  width:936px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5940_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:center;
}
#u5940 {
  position:absolute;
  left:215px;
  top:194px;
  width:57px;
  height:20px;
  color:#FFFFFF;
  text-align:center;
}
#u5941 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u5942_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:center;
}
#u5942 {
  position:absolute;
  left:345px;
  top:193px;
  width:57px;
  height:20px;
  color:#FFFFFF;
  text-align:center;
}
#u5943 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u5944_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:center;
}
#u5944 {
  position:absolute;
  left:472px;
  top:193px;
  width:57px;
  height:20px;
  color:#FFFFFF;
  text-align:center;
}
#u5945 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  word-wrap:break-word;
}
#u5946_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u5946 {
  position:absolute;
  left:577px;
  top:193px;
  width:102px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u5947 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  word-wrap:break-word;
}
#u5948_div {
  position:absolute;
  left:0px;
  top:0px;
  width:940px;
  height:180px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-top:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5948 {
  position:absolute;
  left:183px;
  top:223px;
  width:940px;
  height:180px;
}
#u5949 {
  position:absolute;
  left:2px;
  top:82px;
  width:936px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5950_div {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:65px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5950 {
  position:absolute;
  left:411px;
  top:262px;
  width:231px;
  height:65px;
}
#u5951 {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  white-space:nowrap;
}
#u5952_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:30px;
}
#u5952 {
  position:absolute;
  left:183px;
  top:127px;
  width:85px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u5953 {
  position:absolute;
  left:2px;
  top:2px;
  width:81px;
  word-wrap:break-word;
}
#u5954_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u5954 {
  position:absolute;
  left:709px;
  top:193px;
  width:102px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u5955 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  word-wrap:break-word;
}
#u5956_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u5956 {
  position:absolute;
  left:830px;
  top:193px;
  width:102px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u5957 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  word-wrap:break-word;
}
#u5958_img {
  position:absolute;
  left:0px;
  top:0px;
  width:735px;
  height:2px;
}
#u5958 {
  position:absolute;
  left:183px;
  top:156px;
  width:734px;
  height:1px;
}
#u5959 {
  position:absolute;
  left:2px;
  top:-8px;
  width:730px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5960_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u5960 {
  position:absolute;
  left:48px;
  top:753px;
  width:49px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u5961 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u5962_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u5962 {
  position:absolute;
  left:48px;
  top:773px;
  width:61px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u5963 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u5964_div {
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:113px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF9900;
  text-align:left;
}
#u5964 {
  position:absolute;
  left:345px;
  top:443px;
  width:317px;
  height:113px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF9900;
  text-align:left;
}
#u5965 {
  position:absolute;
  left:2px;
  top:2px;
  width:313px;
  word-wrap:break-word;
}
#u5966_div {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF9900;
}
#u5966 {
  position:absolute;
  left:709px;
  top:285px;
  width:143px;
  height:42px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF9900;
}
#u5967 {
  position:absolute;
  left:2px;
  top:3px;
  width:139px;
  word-wrap:break-word;
}
#u5968_img {
  position:absolute;
  left:-10px;
  top:0px;
  width:21px;
  height:35px;
}
#u5968 {
  position:absolute;
  left:687px;
  top:295px;
  width:1px;
  height:25px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u5969 {
  position:absolute;
  left:2px;
  top:4px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5970_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u5970 {
  position:absolute;
  left:756px;
  top:19px;
  width:39px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u5971 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  word-wrap:break-word;
}
#u5972_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u5972 {
  position:absolute;
  left:989px;
  top:193px;
  width:102px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u5973 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  word-wrap:break-word;
}
#u5974_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 204, 255, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#33CCFF;
}
#u5974 {
  position:absolute;
  left:989px;
  top:296px;
  width:102px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#33CCFF;
}
#u5974_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 204, 255, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#33CCFF;
}
#u5974.selected {
}
#u5975 {
  position:absolute;
  left:2px;
  top:0px;
  width:98px;
  word-wrap:break-word;
}
#u5976_img {
  position:absolute;
  left:-10px;
  top:0px;
  width:21px;
  height:35px;
}
#u5976 {
  position:absolute;
  left:874px;
  top:294px;
  width:1px;
  height:25px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u5977 {
  position:absolute;
  left:2px;
  top:4px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
