body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:733px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5978_div {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u5978 {
  position:absolute;
  left:49px;
  top:39px;
  width:159px;
  height:24px;
  font-size:20px;
}
#u5979 {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  word-wrap:break-word;
}
#u5980_div {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5980 {
  position:absolute;
  left:171px;
  top:103px;
  width:159px;
  height:16px;
}
#u5981 {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  word-wrap:break-word;
}
#u5982_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5982 {
  position:absolute;
  left:171px;
  top:180px;
  width:127px;
  height:25px;
}
#u5983 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  word-wrap:break-word;
}
#u5984_div {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5984 {
  position:absolute;
  left:171px;
  top:132px;
  width:239px;
  height:40px;
}
#u5985 {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  word-wrap:break-word;
}
#u5986_div {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:160px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5986 {
  position:absolute;
  left:190px;
  top:199px;
  width:424px;
  height:160px;
}
#u5987 {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  word-wrap:break-word;
}
#u5988_div {
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5988 {
  position:absolute;
  left:171px;
  top:357px;
  width:291px;
  height:25px;
}
#u5989 {
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  word-wrap:break-word;
}
#u5990_div {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FF0000;
}
#u5990 {
  position:absolute;
  left:171px;
  top:391px;
  width:201px;
  height:22px;
  font-size:16px;
  color:#FF0000;
}
#u5991 {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  word-wrap:break-word;
}
#u5992_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5992 {
  position:absolute;
  left:190px;
  top:464px;
  width:127px;
  height:25px;
}
#u5993 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  word-wrap:break-word;
}
#u5994_div {
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5994 {
  position:absolute;
  left:190px;
  top:413px;
  width:291px;
  height:46px;
}
#u5995 {
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  word-wrap:break-word;
}
#u5996_div {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:238px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u5996 {
  position:absolute;
  left:190px;
  top:492px;
  width:424px;
  height:238px;
  font-size:13px;
}
#u5997 {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  word-wrap:break-word;
}
#u5998_div {
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5998 {
  position:absolute;
  left:190px;
  top:725px;
  width:291px;
  height:25px;
}
#u5999 {
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  word-wrap:break-word;
}
#u6000_div {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u6000 {
  position:absolute;
  left:29px;
  top:1002px;
  width:132px;
  height:38px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u6001 {
  position:absolute;
  left:2px;
  top:10px;
  width:128px;
  word-wrap:break-word;
}
#u6002_div {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FF0000;
}
#u6002 {
  position:absolute;
  left:171px;
  top:797px;
  width:201px;
  height:22px;
  font-size:16px;
  color:#FF0000;
}
#u6003 {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  word-wrap:break-word;
}
#u6004_div {
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6004 {
  position:absolute;
  left:190px;
  top:837px;
  width:291px;
  height:20px;
}
#u6005 {
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  word-wrap:break-word;
}
#u6006_div {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:112px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6006 {
  position:absolute;
  left:190px;
  top:859px;
  width:424px;
  height:112px;
}
#u6007 {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  word-wrap:break-word;
}
#u6008_div {
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6008 {
  position:absolute;
  left:190px;
  top:949px;
  width:291px;
  height:25px;
}
#u6009 {
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  word-wrap:break-word;
}
#u6010_div {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FF0000;
}
#u6010 {
  position:absolute;
  left:171px;
  top:1002px;
  width:201px;
  height:22px;
  font-size:16px;
  color:#FF0000;
}
#u6011 {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  word-wrap:break-word;
}
#u6012_div {
  position:absolute;
  left:0px;
  top:0px;
  width:543px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6012 {
  position:absolute;
  left:190px;
  top:1042px;
  width:543px;
  height:20px;
}
#u6013 {
  position:absolute;
  left:0px;
  top:0px;
  width:543px;
  word-wrap:break-word;
}
#u6014_div {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:166px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6014 {
  position:absolute;
  left:190px;
  top:1078px;
  width:424px;
  height:166px;
}
#u6015 {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  word-wrap:break-word;
}
#u6016_div {
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6016 {
  position:absolute;
  left:190px;
  top:1245px;
  width:291px;
  height:25px;
}
#u6017 {
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  word-wrap:break-word;
}
