body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1123px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4999_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1123px;
  height:636px;
}
#u4999 {
  position:absolute;
  left:0px;
  top:0px;
  width:1123px;
  height:636px;
}
#u5000 {
  position:absolute;
  left:2px;
  top:310px;
  width:1119px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5001_div {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(161, 161, 161, 1);
  border-right:0px;
  border-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#169BD5;
}
#u5001 {
  position:absolute;
  left:81px;
  top:175px;
  width:142px;
  height:31px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#169BD5;
}
#u5002 {
  position:absolute;
  left:2px;
  top:8px;
  width:138px;
  word-wrap:break-word;
}
#u5003_div {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(161, 161, 161, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#169BD5;
}
#u5003 {
  position:absolute;
  left:223px;
  top:175px;
  width:276px;
  height:31px;
  font-size:10px;
  color:#169BD5;
}
#u5004 {
  position:absolute;
  left:2px;
  top:8px;
  width:272px;
  word-wrap:break-word;
}
#u5005_div {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(161, 161, 161, 1);
  border-right:0px;
  border-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#169BD5;
}
#u5005 {
  position:absolute;
  left:81px;
  top:145px;
  width:142px;
  height:31px;
  font-size:10px;
  color:#169BD5;
}
#u5006 {
  position:absolute;
  left:2px;
  top:8px;
  width:138px;
  word-wrap:break-word;
}
#u5007_div {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(161, 161, 161, 1);
  border-right:0px;
  border-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#169BD5;
}
#u5007 {
  position:absolute;
  left:81px;
  top:114px;
  width:142px;
  height:31px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#169BD5;
}
#u5008 {
  position:absolute;
  left:2px;
  top:8px;
  width:138px;
  word-wrap:break-word;
}
#u5009_div {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(161, 161, 161, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#169BD5;
}
#u5009 {
  position:absolute;
  left:223px;
  top:145px;
  width:276px;
  height:31px;
  font-size:10px;
  color:#169BD5;
}
#u5010 {
  position:absolute;
  left:2px;
  top:10px;
  width:272px;
  word-wrap:break-word;
}
#u5011_div {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(161, 161, 161, 1);
  border-bottom:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#169BD5;
}
#u5011 {
  position:absolute;
  left:223px;
  top:114px;
  width:276px;
  height:31px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#169BD5;
}
#u5012 {
  position:absolute;
  left:2px;
  top:8px;
  width:272px;
  word-wrap:break-word;
}
#u5013_div {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(161, 161, 161, 1);
  border-right:0px;
  border-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#169BD5;
}
#u5013 {
  position:absolute;
  left:81px;
  top:206px;
  width:142px;
  height:31px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#169BD5;
}
#u5014 {
  position:absolute;
  left:2px;
  top:8px;
  width:138px;
  word-wrap:break-word;
}
#u5015_div {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(161, 161, 161, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#169BD5;
}
#u5015 {
  position:absolute;
  left:223px;
  top:206px;
  width:276px;
  height:31px;
  font-size:10px;
  color:#169BD5;
}
#u5016 {
  position:absolute;
  left:2px;
  top:10px;
  width:272px;
  word-wrap:break-word;
}
#u5017_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:34px;
}
#u5017 {
  position:absolute;
  left:370px;
  top:260px;
  width:188px;
  height:34px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FF6600;
}
#u5018 {
  position:absolute;
  left:2px;
  top:3px;
  width:184px;
  word-wrap:break-word;
}
#u5019_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:34px;
}
#u5019 {
  position:absolute;
  left:843px;
  top:197px;
  width:188px;
  height:34px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FF6600;
}
#u5020 {
  position:absolute;
  left:2px;
  top:3px;
  width:184px;
  word-wrap:break-word;
}
#u5021 {
  position:fixed;
  left:314px;
  top:237px;
}
#u5021_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u5021_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5022_img {
  position:absolute;
  left:-20px;
  top:-20px;
  width:340px;
  height:210px;
}
#u5022 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#00CCFF;
}
#u5023 {
  position:absolute;
  left:2px;
  top:38px;
  width:296px;
  word-wrap:break-word;
}
#u5024_div {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:21px;
  background:inherit;
  background-color:rgba(6, 181, 243, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u5024 {
  position:absolute;
  left:101px;
  top:113px;
  width:104px;
  height:21px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u5025 {
  position:absolute;
  left:2px;
  top:2px;
  width:100px;
  word-wrap:break-word;
}
#u5026 {
  position:absolute;
  left:633px;
  top:237px;
  width:300px;
  height:170px;
  overflow:hidden;
}
#u5026_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u5026_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5027_img {
  position:absolute;
  left:-20px;
  top:-20px;
  width:340px;
  height:210px;
}
#u5027 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#868686;
}
#u5028 {
  position:absolute;
  left:2px;
  top:50px;
  width:296px;
  word-wrap:break-word;
}
#u5029_div {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#363636;
}
#u5029 {
  position:absolute;
  left:100px;
  top:120px;
  width:104px;
  height:24px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#363636;
}
#u5030 {
  position:absolute;
  left:2px;
  top:3px;
  width:100px;
  word-wrap:break-word;
}
#u5031_div {
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:29px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5031 {
  position:absolute;
  left:3px;
  top:0px;
  width:297px;
  height:29px;
}
#u5032 {
  position:absolute;
  left:2px;
  top:6px;
  width:293px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5033_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5033 {
  position:absolute;
  left:3px;
  top:5px;
  width:29px;
  height:20px;
}
#u5034 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u5035_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:26px;
}
#u5035 {
  position:absolute;
  left:267px;
  top:0px;
  width:33px;
  height:25px;
}
#u5036 {
  position:absolute;
  left:2px;
  top:4px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
