body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2004px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5037_img {
  position:absolute;
  left:0px;
  top:0px;
  width:975px;
  height:453px;
}
#u5037 {
  position:absolute;
  left:161px;
  top:64px;
  width:975px;
  height:453px;
}
#u5038 {
  position:absolute;
  left:2px;
  top:218px;
  width:971px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5039_div {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5039 {
  position:absolute;
  left:8px;
  top:11px;
  width:46px;
  height:16px;
}
#u5040 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5041_div {
  position:absolute;
  left:0px;
  top:0px;
  width:2004px;
  height:54px;
  background:inherit;
  background-color:rgba(21, 21, 21, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(44, 44, 63, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5041 {
  position:absolute;
  left:0px;
  top:0px;
  width:2004px;
  height:54px;
}
#u5042 {
  position:absolute;
  left:2px;
  top:19px;
  width:2000px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5043_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:2892px;
}
#u5043 {
  position:absolute;
  left:160px;
  top:55px;
  width:1px;
  height:2891px;
}
#u5044 {
  position:absolute;
  left:2px;
  top:1438px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5045_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:2px;
}
#u5045 {
  position:absolute;
  left:0px;
  top:227px;
  width:161px;
  height:1px;
}
#u5046 {
  position:absolute;
  left:2px;
  top:-8px;
  width:157px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5047_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:92px;
}
#u5047 {
  position:absolute;
  left:22px;
  top:96px;
  width:100px;
  height:92px;
}
#u5048 {
  position:absolute;
  left:2px;
  top:38px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5049_div {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u5049 {
  position:absolute;
  left:18px;
  top:19px;
  width:229px;
  height:20px;
  color:#FFFFFF;
}
#u5050 {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  word-wrap:break-word;
}
#u5051_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u5051 {
  position:absolute;
  left:756px;
  top:19px;
  width:39px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u5052 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  word-wrap:break-word;
}
#u5053_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5053 {
  position:absolute;
  left:46px;
  top:281px;
  width:57px;
  height:20px;
}
#u5054 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  word-wrap:break-word;
}
#u5055_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:7px;
}
#u5055 {
  position:absolute;
  left:22px;
  top:287px;
  width:14px;
  height:7px;
}
#u5056 {
  position:absolute;
  left:2px;
  top:-4px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5057_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:7px;
}
#u5057 {
  position:absolute;
  left:22px;
  top:383px;
  width:14px;
  height:7px;
}
#u5058 {
  position:absolute;
  left:2px;
  top:-4px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5059_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5059 {
  position:absolute;
  left:46px;
  top:377px;
  width:29px;
  height:20px;
}
#u5060 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u5061_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:7px;
}
#u5061 {
  position:absolute;
  left:22px;
  top:443px;
  width:14px;
  height:7px;
}
#u5062 {
  position:absolute;
  left:2px;
  top:-4px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5063_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5063 {
  position:absolute;
  left:46px;
  top:437px;
  width:29px;
  height:20px;
}
#u5064 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u5065_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u5065 {
  position:absolute;
  left:46px;
  top:307px;
  width:91px;
  height:20px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u5066 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  word-wrap:break-word;
}
#u5067_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5067 {
  position:absolute;
  left:46px;
  top:332px;
  width:91px;
  height:20px;
}
#u5068 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  word-wrap:break-word;
}
#u5069_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5069 {
  position:absolute;
  left:48px;
  top:398px;
  width:66px;
  height:20px;
}
#u5070 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  word-wrap:break-word;
}
#u5071_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5071 {
  position:absolute;
  left:48px;
  top:461px;
  width:74px;
  height:20px;
}
#u5072 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  word-wrap:break-word;
}
#u5073_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5073 {
  position:absolute;
  left:48px;
  top:479px;
  width:74px;
  height:20px;
}
#u5074 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  word-wrap:break-word;
}
#u5075_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:7px;
}
#u5075 {
  position:absolute;
  left:22px;
  top:522px;
  width:14px;
  height:7px;
}
#u5076 {
  position:absolute;
  left:2px;
  top:-4px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5077_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:7px;
}
#u5077 {
  position:absolute;
  left:22px;
  top:560px;
  width:14px;
  height:7px;
}
#u5078 {
  position:absolute;
  left:2px;
  top:-4px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5079_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5079 {
  position:absolute;
  left:46px;
  top:554px;
  width:29px;
  height:20px;
}
#u5080 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u5081_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5081 {
  position:absolute;
  left:48px;
  top:602px;
  width:74px;
  height:20px;
}
#u5082 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  word-wrap:break-word;
}
#u5083_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5083 {
  position:absolute;
  left:48px;
  top:620px;
  width:74px;
  height:20px;
}
#u5084 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  word-wrap:break-word;
}
#u5085_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5085 {
  position:absolute;
  left:46px;
  top:639px;
  width:74px;
  height:20px;
}
#u5086 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  word-wrap:break-word;
}
#u5087_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5087 {
  position:absolute;
  left:46px;
  top:661px;
  width:74px;
  height:20px;
}
#u5088 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  word-wrap:break-word;
}
#u5089_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:7px;
}
#u5089 {
  position:absolute;
  left:22px;
  top:702px;
  width:14px;
  height:7px;
}
#u5090 {
  position:absolute;
  left:2px;
  top:-4px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5091_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u5091 {
  position:absolute;
  left:46px;
  top:696px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u5092 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u5093_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:7px;
}
#u5093 {
  position:absolute;
  left:22px;
  top:739px;
  width:14px;
  height:7px;
}
#u5094 {
  position:absolute;
  left:2px;
  top:-4px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5095_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5095 {
  position:absolute;
  left:46px;
  top:733px;
  width:85px;
  height:20px;
}
#u5096 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u5097_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5097 {
  position:absolute;
  left:46px;
  top:518px;
  width:43px;
  height:20px;
}
#u5098 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  word-wrap:break-word;
}
#u5099_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:9px;
}
#u5099 {
  position:absolute;
  left:71px;
  top:517px;
  width:10px;
  height:9px;
}
#u5100 {
  position:absolute;
  left:2px;
  top:-4px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5101_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5101 {
  position:absolute;
  left:48px;
  top:581px;
  width:74px;
  height:20px;
}
#u5102 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  word-wrap:break-word;
}
#u5103_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5103 {
  position:absolute;
  left:47px;
  top:257px;
  width:57px;
  height:20px;
}
#u5104 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  word-wrap:break-word;
}
#u5105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:7px;
}
#u5105 {
  position:absolute;
  left:22px;
  top:262px;
  width:14px;
  height:7px;
}
#u5106 {
  position:absolute;
  left:2px;
  top:-4px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:22px;
}
#u5107 {
  position:absolute;
  left:446px;
  top:200px;
  width:97px;
  height:22px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u5108 {
  position:absolute;
  left:2px;
  top:2px;
  width:93px;
  word-wrap:break-word;
}
#u5109 {
  position:fixed;
  left:314px;
  top:237px;
}
#u5109_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u5109_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5110_img {
  position:absolute;
  left:-20px;
  top:-20px;
  width:340px;
  height:210px;
}
#u5110 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#00CCFF;
}
#u5111 {
  position:absolute;
  left:2px;
  top:38px;
  width:296px;
  word-wrap:break-word;
}
#u5112_div {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:21px;
  background:inherit;
  background-color:rgba(6, 181, 243, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u5112 {
  position:absolute;
  left:101px;
  top:113px;
  width:104px;
  height:21px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u5113 {
  position:absolute;
  left:2px;
  top:2px;
  width:100px;
  word-wrap:break-word;
}
#u5114_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u5114 {
  position:absolute;
  left:48px;
  top:753px;
  width:49px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u5115 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u5116_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u5116 {
  position:absolute;
  left:48px;
  top:773px;
  width:61px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u5117 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u5118_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u5118 {
  position:absolute;
  left:48px;
  top:791px;
  width:61px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u5119 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u5120 {
  position:absolute;
  left:633px;
  top:237px;
  width:300px;
  height:170px;
  overflow:hidden;
}
#u5120_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u5120_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5121_img {
  position:absolute;
  left:-20px;
  top:-20px;
  width:340px;
  height:210px;
}
#u5121 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#868686;
}
#u5122 {
  position:absolute;
  left:2px;
  top:50px;
  width:296px;
  word-wrap:break-word;
}
#u5123_div {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#363636;
}
#u5123 {
  position:absolute;
  left:100px;
  top:120px;
  width:104px;
  height:24px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#363636;
}
#u5124 {
  position:absolute;
  left:2px;
  top:3px;
  width:100px;
  word-wrap:break-word;
}
#u5125_div {
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:29px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5125 {
  position:absolute;
  left:3px;
  top:0px;
  width:297px;
  height:29px;
}
#u5126 {
  position:absolute;
  left:2px;
  top:6px;
  width:293px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5127_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5127 {
  position:absolute;
  left:3px;
  top:5px;
  width:29px;
  height:20px;
}
#u5128 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u5129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:26px;
}
#u5129 {
  position:absolute;
  left:267px;
  top:0px;
  width:33px;
  height:25px;
}
#u5130 {
  position:absolute;
  left:2px;
  top:4px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
